@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: none;
}

html {
  scroll-behavior: smooth;
  transition: all 400ms ease;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

section {
  background-color: rgb(250, 235, 255);
  /*background-color: rgb(245, 245, 245);*/
  transition: all 250ms ease-in-out;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: whitesmoke;
  outline: none;
  border: 3px solid whitesmoke;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 400ms ease;
}
textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}
label {
  font-size: 14px;
  font-weight: bold;
}

input:hover,
textarea:hover {
  border-color: rgb(250, 235, 255);
}

input:focus,
textarea:focus {
  border-color: rgb(255, 176, 255);
}

.color {
  color: plum;
  color: rgb(255, 176, 255);
  font-weight: bold;
}
.line {
  color: #242424;
}
.outline {
  text-shadow: -0.6px -0.6px 0 #000, 0.6px -0.6px 0 #000, -0.6px 0px 0 #000,
    0.6px 0.6px 0 #000;
}
.click {
  transition: all 300ms ease;
  cursor: pointer;
}
.click:hover {
  transform: scale(1.2);
}
.click:active {
  transform: scale(0.8);
}

.title {
  font-size: 56px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.title--secondary {
  color: rgb(255, 176, 255);
}

.link__hover-effect {
  position: relative;
}
.link__hover-effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  height: 3px;
  width: 0;
  background-color: #242424;
  transition: all 300ms ease-in-out;
}
.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.link__hover-effect--purple {
  position: relative;
}
.link__hover-effect--purple::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  height: 3px;
  width: 0;
  background-color: rgb(255, 176, 255);
  transition: all 300ms ease-in-out;
}
.link__hover-effect--purple:hover::after {
  left: 0;
  width: 100%;
}

nav,
.scroll,
.mail__btn,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 1100ms 300ms;
}
.modal--open nav,
.modal--open .scroll,
.modal--open .mail__btn,
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

@keyframes scroll {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-2px);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

/*

LANDING PAGE

*/
#landing-page {
  min-height: 100vh;
}

.header {
  padding: 0 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
}

.header__para {
  font-size: 24px;
  line-height: 1.5;
  max-width: 450px;
}
.k:hover {
  text-shadow: -0.6px -0.6px 0 #000, 0.6px -0.6px 0 #000, -0.6px 0px 0 #000,
    0.6px 0.6px 0 #000;
}

.social__list {
  margin-top: 16px;
  display: flex;
}

.social__link {
  background-color: rgb(255, 176, 255);
  color: rgb(234, 234, 234);
  padding: 4px;
  margin-right: 16px;
  font-size: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: 2px double rgb(255, 176, 255);
  background-color: #242424;
  color: rgb(255, 176, 255);
  position: fixed;
  bottom: 32px;
  right: 40px;

  transition: all 800ms ease-in-out;
  z-index: 3;
  cursor: url(e-portfolio.assets/finga.gif), pointer;
}
.mail__btn:hover {
  color: #242424;
  background-color: rgb(255, 176, 255);
  border: 4px double #242424;
  rotate: -360deg;
}
.fa-envelope {
  transition: all 1600ms ease-in-out;
  animation: pulse 750ms infinite alternate-reverse ease;
}
.fa-envelope:hover {
  animation: none;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 24px;
}
.scroll__icon {
  width: 20px;
  height: 32px;
  border: 2px solid black;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1500ms infinite alternate-reverse ease-in-out;
}
.fa-earth-americas {
  animation: scroll 1500ms infinite alternate-reverse ease-in-out;
  color: rgb(169, 169, 169);
  border: 1px solid black;
  border-radius: 50%;
}

/*

NAVIGATION

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

.nav__logo {
  width: 20%;
  filter: invert(0);
  padding-top: 4px;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: 242424;
  font-weight: 700;
  color: black;
  transition: all 300ms ease;
}
.nav__link--anchor:hover {
  color: rgb(255, 176, 255);
  text-shadow: -0.6px -0.6px 0 #000, 0.6px -0.6px 0 #000, -0.6px 0px 0 #000,
    0.6px 0.6px 0 #000;
}

.invert {
  color: black;
  font-size: 20px;
  transition: all 300ms ease;
  cursor: url("e-portfolio.assets/finga.gif"), pointer;
  padding-top: 1px;
}

.invert:hover {
  rotate: 90deg;
  transform: scale(1.3);
}

.invert:active {
  transform: scale(0.7);
}

/*

  MODAL

*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  max-width: 900px;
  height: 700px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;

  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 400ms ease;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease;
}

.modal--open .modal__about {
  transform: translateX(0%);
}
.modal--open .modal__contact {
  transform: translateX(0%);
}

.modal__about {
  background-color: rgb(169, 169, 169);

  transform: translateX(-110%);
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.25;
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
}

.modal__language {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 300ms ease-in-out;
}

.language__name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease-in-out;
}
.modal__language:hover .language__name {
  transform: scale(1);
}
.modal__language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.modal__language--img {
  width: 100%;
}

.modal__contact {
  background-color: #242424;
  color: whitesmoke;
  transform: translateX(110%);
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  font-weight: bold;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  font-size: 20px;

  border-radius: 5px;
  color: rgb(255, 176, 255);
  background-color: #242424;
  border: 4px double rgb(255, 176, 255);
  transition: all 800ms ease;
}
.form__submit:hover {
  color: #242424;
  background-color: rgb(255, 176, 255);
  border: 4px double #242424;
}

.form__submit:active {
  transform: scale(0.9);
  border-radius: 12px;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
  z-index: -1;
}
.modal__overlay--success {
  background-color: green;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
  z-index: -1;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 1200ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: whitesmoke;
  font-size: 36px;
  z-index: 100;
  transition: all 200ms;
}
.modal__exit:hover {
  cursor: url("e-portfolio.assets/oth666.cur"), pointer;
  /*color: rgb(255, 176, 255);*/
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .invert,
.dark-theme .header__para {
  color: whitesmoke;
}
.dark-theme section {
  background-color: #696969;
}
.dark-theme .nav__logo {
  filter: invert(2);
}
.dark-theme .footer__logo {
  filter: invert(2);
}
.dark-theme .title--secondary {
  color: rgb(255, 176, 255);
}
.dark-theme .social__link {
  color: #696969;
}
.dark-theme .nav__link--anchor {
  color: rgb(255, 176, 255);
}
.dark-theme .nav__link--anchor:hover {
  color: rgb(169, 169, 169);
}
.dark-theme .footer__social--link {
  color: rgb(255, 176, 255);
}
.dark-theme .footer__social--link:hover {
  text-shadow: -0.6px -0.6px 0 #000, 0.6px -0.6px 0 #000, -0.6px 0px 0 #000,
    0.6px 0.6px 0 #000;
  color: white;
}
.dark-theme .shape {
  filter: sepia(90%);
}
.dark-theme .tri {
  filter: hue-rotate(160deg) contrast(80%);
}
.dark-theme ::-webkit-scrollbar-track {
  background: #696969;
}

/*

  PROJECTS

*/

#projects {
}
.project {
  display: flex;
  justify-content: center;

  margin: 12vh 0;
}

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.project__img {
  width: 100%;
  transition: all 1000ms ease-in-out;
}

.project__wrapper {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 10px 60px 0 rgb(0, 0, 0, 0.55);
  width: 80%;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
  transition: all 1000ms ease-in-out;
}
.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}
.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
}

.project__description--title {
  font-size: 40px;
}

.project__description--sub-title {
  margin-top: 8px;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(90%);
  opacity: 0;
  color: white;
  max-width: 500px;
  transition: opacity 800ms, transform 750ms ease;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}
.project__description--link:hover {
  color: rgb(255, 176, 255);
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

/*

FOOTER

*/

footer {
  position: relative;
  background-color: #242424;
  padding: 0 0 2% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  filter: invert(3);
  width: 30%;
  padding: 0;
  margin: 0;
  transition: all 300ms ease;
  animation: bounce 1000ms alternate-reverse infinite ease-in-out;
}

.footer__logo--fig {
  display: flex;
  justify-content: center;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;

  padding: 2% 0 4% 0;
}

.footer__social--link {
  color: rgb(234, 234, 234);
}
.footer__social--link:hover {
  color: rgb(255, 176, 255);
}

.copyright {
  color: rgb(169, 169, 169);
}

/*

shapes

shapes on the first row
height = 15vh
shapes on the second row
height = 50vh
shapes on the third row
height = 80vh

shapes on the first column
width = 5vw
shapes on the second column
width = 50vw
shapes on the third column
width = 80vw

*/

.shape {
  position: fixed;
  filter: sepia(90%);
  filter: grayscale(100%);
  z-index: 0;
}

.shape-0 {
  top: 15vh;
  left: 20vw;
}
.shape-1 {
  top: 15vh;
  left: 49vw;
}
.shape-2 {
  top: 15vh;
  left: 80vw;
}
.shape-3 {
  top: 50vh;
  left: 20vw;
}
.shape-4 {
  top: 50vh;
  left: 49vw;
}
.shape-5 {
  top: 50vh;
  left: 80vw;
}
.shape-6 {
  top: 80vh;
  left: 20vw;
}
.shape-7 {
  top: 80vh;
  left: 49vw;
}
.shape-8 {
  top: 80vh;
  left: 80vw;
}

.shape-9 {
  top: 65vh;
  left: 40vh;
}
.shape-10 {
  top: 30vh;
  left: 40vh;
}
.shape-11 {
  top: 65vh;
  left: 105vh;
}
.shape-12 {
  top: 30vh;
  left: 105vh;
}
.shape-13 {
  top: 30vh;
  left: 160vh;
}
.shape-14 {
  top: 95vh;
  left: 105vh;
}
.shape-15 {
  top: 65vh;
  left: 160vh;
}
.shape-16 {
  top: 95vh;
  left: 40vh;
}
.shape-1700 {
  top: 999vh;
  left: 999vh;
}

.title,
.title--secondary,
.header,
.header__para,
.section__title {
  z-index: 100;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(250, 235, 255);
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 176, 255);
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*small phones || large phones && tablets*/
@media (max-width: 768px) {
  #landing__page {
    height: 120vh;
  }
  .title {
    font-size: 60px;
  }
  .header__para {
    font-size: 20px;
  }
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .modal__half {
    width: 100%;
  }
}

/*small phones*/
@media (max-width: 480px) {
  .title {
    font-size: 52px;
  }
  .header__para {
    font-size: 18px;
  }
  .nav__link:first-child {
    display: none;
  }
  .project__description--para {
    display: none;
  }
  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .project__description--sub-title {
    margin-bottom: 8px;
  }
  .modal__half {
    padding: 35px;
  }
  .nav__logo {
    width: 60px;
  }
}
